*.egg
*.vscode
*.egg-info/
*.manifest
*.py[cod]
*.so
*.spec
.Python
.env
.installed.cfg
.ipynb_checkpoints
.venv
ENV/
MANIFEST
__pycache__/
build/
develop-eggs/
dist/
env.bak/
env/
ipython_config.py
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
profile_default/
venv.bak/
venv/
wheels/
